{% extends 'home/base.html' %}
{% load crispy_forms_tags %}
{% load static i18n %}
{% load static %}
{% block custom_css %}
<link href="{% static 'accounts/css/styles.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="home-page">
    {% get_current_language as MY_LANGUAGE %}
    <h5 style="display:none;" id="lang">{{  MY_LANGUAGE }}</h5>

    <form class="field" method="post">
        {% csrf_token %}
         <div class="form-row">
             <div class="form-group col-md-4 mb-2 exam-name" id="exam-name">
<!--                   <input  maxlength="40" placeholder="Exam Name goes here!" name="{{ form.exam_name.html_name}}" type="text">-->
{{ form.exam_name }}


             </div>

         </div>
        <div class="form-row">
             <div class="form-group col-md-4  exam-notes" id="exam-notes">
<!--        <textarea placeholder="Add your exam notes here!"></textarea>-->
                 {{ form.exam_note }}
             </div>
        </div>
        <div class="form-row mb-lg-4">
            <div class="form-group col-md-4 mb-2 first-field exam-label">
<!--             <input type="text" placeholder="Set Exam Date here!"-->
<!--                    onfocus="(this.type='date')">-->
                                <label for="id_exam_date" class="exam-label-color">{% trans 'Exam Date' %}</label>

                {{ form.exam_date }}

             </div>
            <div class="form-group col-md-4 mb-2 exam-label" id="exam-period-div">
<!--
    <input  maxlength="40" placeholder="Set Exam Period here!" type="text">-->
<label for="id_exam_period" class="exam-label-color">{% trans 'set exam period here!' %}</label>

{{ form.exam_period }}
             </div>
        </div>
        <div class="form-row mb-lg-4">
            <div class="form-group col-md-4 mb-2 first-field">
<!--                   <input  maxlength="40" placeholder="Exam Full Mark here!" type="text">-->
{{ form.exam_full_mark }}
             </div>
            <div class="form-group col-md-4 mb-2">
<!--                   <input  maxlength="40" placeholder="Exam Pass Mark here!" type="text">-->
{{ form.exam_pass_mark }}
             </div>
        </div>
                <div class="form-row mb-lg-4">
            <div class="form-group col-md-4 mb-2 first-field">
{{ form.exam_number_of_questions}}
             </div>
        </div>
        <div class="form-row mb-lg-4">
            <div class="form-group col-md-4 mb-2 first-field exam-label">
<!--                   <input  maxlength="40" placeholder="Exam Unique Identifier here!" type="text">-->
                <label for="id_exam_unique_identifier" class="exam-label-color">{% trans 'Exam UID' %}</label>
{{ form.exam_unique_identifier }}
             </div>
        </div>
        <div class="form-row">
<div class="form-group col-md-4 mb-2 first-field" id="signup-btn">

    <button class="raw-button save-btn exam-btn"  type="submit" id="save-btn">
        <i class="fa fa-floppy-o" aria-hidden="true"></i>
        {% trans 'Save' %}
    </button>
     <button class="raw-button ml-3 exam-btn cancel-btn"   id="cancel-btn">
         <i class="fa fa-times" aria-hidden="true"></i>
         {% trans 'Cancel' %}
     </button>
</div>
</div>

    </form>



</div>



{% endblock %}
{% block custom_javascript %}
<script src="{% static 'teacher/js/createExam.js' %}"></script>
{% endblock %}