{% extends "home/base.html" %}
{% load static i18n %}
{% load static %}
{% block custom_css %}
<link href="{% static 'teacher/css/exam.css' %}" type="text/css" rel="stylesheet">
{% endblock %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
<div class="home-page">
  {% get_current_language as MY_LANGUAGE %}
    <h5 style="display:none;" id="lang">{{  MY_LANGUAGE }}</h5>
  <article class="media content-section-exam">
<!-- {% if request.user.is_teacher  %}-->
<!--    <h3>User is Teacher</h3>-->
<!--    {% else %}-->
<!--    <h3>User is student</h3>-->

<!--    {% endif %}-->
    <img class="rounded-circle article-img" src="{{  object.teacher.profile.image.url }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2 teacher-username" href="{% url 'teacher-exams' object.teacher.username %}">{{ object.teacher.username }}</a>
        <small class="text-muted">{{ object.exam_date|date:"F d, Y" }}</small>
        {% if object.teacher == user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'exam-update' exam.id %}">{% trans 'Update' %}</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'exam-delete' exam.id %}">{% trans 'Delete' %}</a>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ object.exam_name }}</h2>
      <div class="exam-content">
        <h5>{% trans 'Exam Notes' %}</h5>
        {{ object.exam_note }}
      </div>
      <div class="exam-content">
        <h5>{% trans 'Exam Number of Questions' %}</h5>
        {{ object.exam_number_of_questions }}
      </div>
      <div class="exam-content">
         <h5>{% trans 'Exam Period:' %}</h5>

      <svg  style="width:20px;color: #5c374c;" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                  </svg>
         <span class="exam-period">{{ exam.exam_period }}</span>

      </div>
      <div class="exam-content">
        <h5>{% trans 'Exam Status' %}</h5>
        <span class="exam_status_icon"></span>
        <span class="exam_status_label">{{ object.exam_status }}</span>
      </div>
      {% if object.exam_status == 'Active' and request.user.is_student %}
       <a href="#" class="btn update-exam-button">{% trans 'Start Attempt' %}</a>
      {% endif %}
    </div>
  </article>
</div>
{% endblock content %}
{% block custom_javascript %}
<script src="{% static 'teacher/js/exam_detail.js' %}"></script>
{% endblock %}