{% extends "home/base.html" %}
{% block content %}
 <div class="hero-login">
    <div class="form-box">
<div class="button-box">
        <h1>Login</h1>
</div>
        <div class="textbox">
            <i class="fa fa-user" aria-hidden="true"></i>
            <input type="text" placeholder="Username or email" name="" value="">
        </div>

        <div class="textbox">
            <i class="fa fa-lock" aria-hidden="true"></i>
            <input type="password" placeholder="Password" name="" value="">
        </div>
    <input class="btn-login" type="button" name="" value="Sign In">
    </div>
 </div>
{% endblock content %}