.question{
right: 10%;
position: relative;
border: 2px solid #ddd;
margin-bottom: 30px;

}
.handle-question{
right: 5%;
position: relative;
border: 2px solid #ddd;
margin-bottom: 30px;
width:90%;
}

.handle-question:hover{
transition: box-shadow 0.5s ease-out;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border: red;
}
.border-bottom-question{
border-bottom:3px solid #dddddd;
width: max-content;
margin-top: 5px;
color: #941351;
font-size: 18px;
}
.fit-border-bottom{
margin-bottom:-16px;
}
.remove-question{
position: absolute;
left: 83%;
top: 4%;
}
.remove-question-special{
position: absolute;
left: 82%;
top: 4%;
}
.remove-question-special:hover{
color:white;
}
.handle-question-degree{
position: absolute;
left: 80%;
}
.handle-question-text{
margin-left: 100px;
}